<!DOCTYPE html>
	<html lang="es">
	<head>
		<meta charset="utf-8">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

		<title>Test Print Document PDF</title>
	</head>
<body class="page" style="background: #FCFCFC;">
	<div class="container">
		<div class="row justify-content-center">
			<h3 id="title">Recibo de Pago en Efectivo</h3>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8 border mt-3 shadow-lg p-3 mb-5 bg-white rounded">
						<form class="form-group" >
								<div class="form-group row"  hidden>
		    					<label for="empresa" class="col-sm-3 col-form-label font-weight-bold font-weight-bold">Qcode:</label>
									<img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width=64 height=64  id='qcode'>
								</div>
  							<div class="form-group row">
		    					<label for="empresa" class="col-sm-3 col-form-label font-weight-bold font-weight-bold">Empresa:</label>
    							<div class="col-sm">
		      						<input type="text" class="form-control form-control-sm" id="empresa" value="" autocomplete="off" readonly>
    							</div>
  							</div>
  							<div class="form-group row">
    							<label for="serie" class="col-sm-4 col-form-label font-weight-bold">N. Factura:</label>
    							<div class="col-sm-2 pr-0">
      								<input type="text" class="form-control form-control-sm border" id="serie" value="" autocomplete="off" readonly>
    							</div>
    							<div class="col-sm-3 pr-0">
      								<input type="number" class="form-control form-control-sm" id="no_factura" value="" autocomplete="off">
    							</div>
    							<div class="col-sm-3 text-right">
      								<input type="button" class="btn btn-primary" onclick="openWin()" value="Imprimir">
    							</div>
  							</div>
  							<div class="form-group row">
		    					<label for="fecha" class="col-sm-4 col-form-label font-weight-bold">Fecha de Pago</label>
    							<div class="col-sm-8">
		      						<input type="date" class="form-control form-control-sm" id="fecha" value="" autocomplete="off">
    							</div>
  							</div>
  							<div class="form-group row">
		    					<label for="fecha_pago" class="col-sm-4 col-form-label font-weight-bold">Fecha de Factura:</label>
    							<div class="col-sm-8">
		      						<input type="datetime-local" class="form-control form-control-sm"  step="1" id="fecha_pago" value="" autocomplete="off" readonly>
    							</div>
  							</div>
  							<div class="form-group row">
		    					<label for="nombre" class="col-sm-3 col-form-label font-weight-bold">Nombre:</label>
    							<div class="col-sm">
		      						<input type="text" class="form-control form-control-sm" id="nombre" value="" autocomplete="off">
    							</div>
  							</div>

  							<div class="form-group row">
		    					<label for="nit" class="col-sm-3 col-form-label font-weight-bold">Nit:</label>
    							<div class="col-sm-4">
		      						<input type="text" class="form-control form-control-sm" id="nit" value="" autocomplete="off">
    							</div>
    							<label for="codigo" class="col-sm-2 col-form-label font-weight-bold text-right">codigo:</label>
    							<div class="col-sm-3">
		      						<input type="text" class="form-control form-control-sm" id="codigo" value="" autocomplete="off">
    							</div>
  							</div>
  							<div class="form-group row">
		    					<label for="monto" class="col-sm-3 col-form-label font-weight-bold font-weight-bold">Monto:</label>
    							<div class="col-sm">
		      						<input type="text" class="form-control form-control-sm" id="monto" value="" autocomplete="off">
    							</div>
  							</div>
							</form>
							<!-- Button trigger modal -->
							<!-- Modal -->	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
            <p>Erick Rash&oacute;n  &copy; 2020-2022 </p>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/recibo.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert2@11.js') }}">
</script>
<style type="text/css"></style>

</html>               

